<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>特許調査支援ツール</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="app">
        <ul class="menu">
            <li><a href="/">特許調査支援ツール</a></li>
            <li><a href="digest.html">要約</a></li>
            <li><a href="idea_generate.html">アイディア生成</a></li>
            <li><a href="#about">temp3</a></li>
        </ul>
        <form>
            アイディア生成<br>
            作成中・アップデートをお待ちください
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
